__pycache__/
*.egg-info/
.ruff_cache/
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle
*kaggle.json
.env
.env.*
*.log
.DS_Store
Thumbs.db
*.tmp
*.swp
.venv/
venv/
dist/
*.sqlite3
db/
docs/
data/datasets/jcommonsenseqa/
data/results/
.hypothesis